{{ define "heading"}}
<div class="pb-6 md:pt-10 md:pb-24 mx-auto" style="max-width: 65ch;" >
    <div class="text-center entry-header">
    <!-- Title and Publication Date -->
    <!-- Can implement some conditional logic here in the future -->
    <!-- Example: if there's an avatar / photo defined and an alternate title defined,
         we used that instead of the usual title and subtitle here -->
    {{ if .Params.ShowAvatar }}
        {{ if .Site.Params.Avatar }}
            <img class="w-40 rounded-full mx-auto" src="{{ .Site.Params.Avatar | absURL }}"
                alt="{{ .Site.Params.Author }}">
        {{ end }}
    {{ end}}
    {{ with .Params.AltTitle }}
        <h1 class="text-4xl text-gray-700 -mb-1">{{ . }}</h1>
    {{ else }}
        <h1 class="text-4xl text-gray-700 -mb-1">{{ .Title }}</h1>
    {{ end }}
    <h2 class="text-gray-700 text-xl mt-0">
        {{ .Params.Subtitle }}
      </h2>
    </div>
{{ end }}
{{ define "content" }}
<section class="pt-12">
    {{ .Content }}
  <ol class="px-0">
    {{ range .Pages -}}
    <li class="mb-4 flex flex-col md:flex md:flex-row py-2">
        <a class="md:w-4/5 md:pr-6" href="{{ .RelPermalink }}"
        ><div class="text-gray-900">{{ .Title }}</div>
        <div class="hidden md:block text-sm md:text-base text-gray-600">{{ .Params.Subtitle }}</div>
      </a>
      <time class="block  md:w-1/5 text-gray-400 text-base"
              datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "January 02 2006"}}</time>
   
    </li>
    {{- end }}
</ol>
</section>
</div>
{{ end }}
