{{ define "heading" }}
<div class="md:pt-10 md:pb-24 mx-auto" style="max-width: 65ch;">
    <div class="text-center entry-header">
        <!-- Title and Publication Date -->
        <h1 class="text-3xl text-gray-700 -mb-1">{{ .Title }}</h1>
        <h2 class="text-gray-700 text-xl mt-0">
            {{ .Params.Subtitle }}
        </h2>
    </div>
    {{ end }}

    {{ define "content" }}
    <div class="pt-6 ">
        {{ .Content }}

        {{ if .Date }}<time class="text-gray-400 text-sm" datetime="{{ .Date.Format " 2006-01-02 15:04:05 MST" }}">
            {{.Date.Format "02 January 2006" }}</time>
        {{ end }}

        {{ template "_internal/disqus.html" . }}
    </div>



    <!-- Tags -->
    {{ with .Params.tags }}
    <ol class="my-1 pl-0">
        {{ range . }}
        <li class="inline-block">
            <a href='{{ "tags" | absURL }}/{{ . | urlize }}'
                class="uppercase border-gray-400 text-gray-500 text-xs border rounded-sm px-1">{{ . }}</a>
        </li>
        {{ end }}
    </ol>
    {{ end }}

</div>
{{ end }}