{{ define "heading" }}
<div class="pt-10 pb-24 mx-auto" style="max-width: 65ch;" >
    <div class="text-center entry-header">
    <!-- Title and Publication Date -->
    <h1 class="text-4xl text-gray-700 -mb-1">{{ .Title }}</h1>
    <h2 class="text-gray-700 text-xl mt-0">
        {{ .Params.Subtitle }}
      </h2>
    </div>
{{ end }}

{{ define "content" }}
<div class="pt-12">
    {{ .Content }}

    {{ template "_internal/disqus.html" . }}
</div>
{{ if .Date }}<time class="text-gray-400 text-sm"
datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "02 January 2006" }}</time>
{{ end }}



<!-- Tags -->
{{ with .Params.tags }}
<ol class="mt-4">
{{ range . }}
<li class="inline-block">
    <a class="border-none text-gray-800 text-xs bg-gray-400 hover:bg-gray-600 hover:text-white rounded-sm px-3 py-1"
        href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a>
</li>
{{ end }}
</ol>
{{ end }}

</div>
{{ end }}